{% extends "base.html" %}
{% block content %}
<div>
    <h1 class="title">Checks</h1>
    <table class="table table-sm">
        <theader>
            <tr>
                <th class="text-center">Status</th>
                <th>Service</th>
                <th>Timestamp</th>
                <th>Message</th>
                <th></th>
            </tr>
        </theader>
        <tbody>
            {% for check in checks %}
                <tr>
                    <td class="text-center">
                        {% ifequal check.status ":ok" %}
                            <i class="far fa-check-circle"></i>
                        {% else %}
                            <i class="far fa-times-circle"></i>
                        {% endifequal %}
                    </td>
                    <td>{{ check.name }}</td>
                    <td>{{ check.timestamp|format-timestamp }}</td>
                    <td>{{ check.message }}</td>
                    <td class="text-right">
                        {% if show-links %}
                            <a href="/checks/{{ check.service_id }}" class="btn btn-default">
                                view last 10 checks
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
    setAutoRefresh();
</script>
{% endblock %}