{% extends "base.html" %}
{% block content %}
<div>
    <h1 class="title">Services</h1>
    <table class="table table-sm">
        <theader>
            <tr>
                <th>Name</th>
                <th>Origin</th>
                <th>Host</th>
                <th>Port</th>
                <th>Heartbeat</th>
                <th class="text-center">Should Restart</th>
                <th></th>
                <th></th>
            </tr>
        </theader>
        <tbody>
            {% for service in services %}
                <tr>
                    <td>{{ service.name }}</td>
                    <td>{{ service.origin }}</td>
                    <td>{{ service.host }}</td>
                    <td>{{ service.port }}</td>
                    <td>{{ service.heartbeat }}</td>
                    <td class="text-center">
                        {% ifequal service.restart 1 %} 
                            <i class="far fa-check-circle"></i>
                        {% endifequal %}
                    </td>
                    <td><a href="/services/edit/{{ service.id }}" class="btn btn-default">edit</a></td>
                    <td>
                        <form action="/services/delete" method="post">
                            <input name="id" type="hidden" value="{{ service.id }}"/>
                            <input type="submit" class="btn btn-danger" value="delete"/>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/services/add" class="btn btn-default">create new service</a>
</div>
{% endblock %}