th {
    background-color: #009944;
    color: #FFFFFF;
}

.navbar {
    background-color: #009944;
}

.navbar-brand {
    color: #FFFFFF;
    font-weight: bolder;
}

.nav-link {
    color: #FFFFFF;
}

.title {
    color: #009944;
}

.btn-default {
    background-color: #009944;
    color: #FFFFFF;
}

.fa-check-circle {
    color: #009944;
}

.fa-times-circle {
    color: #FF0000;
}