th {
    background-color: #009944;
    color: #FFFFFF;
}

.navbar {
    background-color: #009944;
}

.navbar-brand {
    color: #FFFFFF;
    font-weight: bolder;
}

.nav-link {
    color: #FFFFFF;
}

.title {
    color: #009944;
}